<main class="app-content">

  <router-outlet></router-outlet>

</main>


<nav class="bottom-nav">


  <!-- HOME -->

  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="bottom-nav-item">

    <span class="nav-icon">
      ⌂
    </span>

    <span class="nav-label">
      Home
    </span>

  </a>


  <!-- SONGS -->

  <a
    routerLink="/songs"
    routerLinkActive="active"
    class="bottom-nav-item">

    <span class="nav-icon">
      ♫
    </span>

    <span class="nav-label">
      Songs
    </span>

  </a>


  <!-- SETTINGS -->

  <a
    routerLink="/settings"
    routerLinkActive="active"
    class="bottom-nav-item">

    <span class="nav-icon">
      ⚙
    </span>

    <span class="nav-label">
      Settings
    </span>

  </a>


  <!-- PROFILE -->

  <a
    routerLink="/profile"
    routerLinkActive="active"
    class="bottom-nav-item profile-nav-item">


    <span
      class="bottom-profile-avatar"
      [style.background]="getAvatarGradient()">

      {{ getInitial() }}

    </span>


    <span class="nav-label">
      Profile
    </span>

  </a>


</nav>